# Laravel
/vendor/
/node_modules/
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.swp
*.swo

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files
Thumbs.db

# Storage
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
/storage/framework/*
!/storage/framework/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

# Testing
/coverage/
/.phpunit.backup

# Composer
composer.phar
/vendor/

# npm
package-lock.json
yarn.lock

# Cache
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
